<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Register Book</title>
</head>
<body>
    <form action="../controller/RegisterController.php" method="POST">
        <div class="inputContainer"></div>
        <label for="name">Name</label>
        <input type="text"name="name" placeholder="Name of the book">

        <label for="author">Author</label>
        <input type="text"name="author" placeholder="author book name">

        <label for="price">Price</label>
        <input type="text"name="price" placeholder="price">

        <label for="numberCopiesAvailable">Stock</label>
        <input type="number"name="numberCopiesAvailable" placeholder="total Stock">
        
        <label for="numberPage">Number of pages</label>
        <input type="number"name="numberPage" step="1" placeholder="number of pages">

        <label for="releaseDate">Release Date</label>
        <input type="date" name="releaseDate">
        <button type="submit">Register</button>
        <a href="../../index.php" class="previous">&#8249; Back to index</a>
        
    </form>
</body>
</html>